{% extends 'flatpages/default.html' %}

{% block title %}
News
{% endblock title %}

{% block content %}
<div style="text-align: right;">
    <a href="{% url 'news_search' %}">Search News</a>



    <a href="{% url 'create_news' %}">Create News</a>
    <a href="{% url 'create_article' %}">Create Article</a>
</div>

<h1>Новости и статьи</h1>
{% for post in page_obj %}
    <a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a>
    <p>{{ post.dateCreation }}</p>
    <p>{{ post.text|truncatechars:20 }}</p>
    <a href="{% url 'edit_news' post.pk %}">Edit News</a>
    <a href="{% url 'delete_news' post.pk %}">Delete News</a>
    <a href="{% url 'edit_article' post.pk %}">Edit Article</a>
    <a href="{% url 'delete_article' post.pk %}">Delete Article</a>
    <hr>
{% empty %}
    <p>No news found.</p>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock content %}